

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto 1.5rem auto;
    background-color: #ffffff;
    border-radius: 1rem;

    input,
    button {
        padding: 1rem;
        border-radius: 10px;
        border: none;
        color: #000000;
    }

    input {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
    }

    button {
        background-color: #005CFF;
        cursor: pointer;
        width: 64px;
        font-size: 1.5rem;
    }
}
