*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
}

body{
  background-color: #1F1F1F;
  padding: 2rem;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  text-emphasis: center;
}

a{
  text-decoration: none;
}